/* Default navbar style */
.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid white;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* Glass blur effect */
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}


.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80px;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  color:#9AE202;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  font-weight: BOLD;

  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  font-size: 1rem;
}
.nav-links:hover {
  color:#9AE202 ;
 
}
/* .fa-code {
  margin-left: 1rem;
} */

.nav-item {
  line-height:2px;
  margin-right: 1rem;
  color: #9AE202;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
  margin-top: 12px; /* Further increased the value for more distance */
}

.nav-item:hover:after {
  width: 100%;
  background: #9AE202;
}

.nav-item .active {
  color: #9AE202;
}

.nav-icon {
  display: none;
  color: aqua;
}

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    /* background: white;
    
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1; */


    background: rgb(255 255 255 / 0%);/* White background with some transparency */
backdrop-filter: blur(10px); /* Apply blur effect */
-webkit-backdrop-filter: blur(10px); /* Safari support */
left: 0px;
opacity: 1;
transition: all 0.5s ease;
z-index: 1;
border: 1px solid grey;

  }
  .nav-item .active {
    color: #9AE202;
    border: none;
  }
  .nav-item:hover:after {
    width: 100%;
    background: transparent;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: #9AE202;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #ffdd40;
  }
}


.nav-logo h5{
padding: 8px;
}