/* Preloader container */
body, html {
  background: url('Noise-bg.gif');
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Text styles */
.animated-text {
  font-size: 3rem; /* Adjust the font size */
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #9AE202; /* Green text */
  display: inline-block;
  overflow: hidden; /* Hide overflowing text during animation */
  white-space: nowrap; /* Prevent wrapping */
  border-right: 2px solid green; /* Blinking cursor effect */
  animation: typing 1.5s steps(12, end), blink 2s step-end 2; 
}

/* Typing animation */
@keyframes typing {
  from {
      width: 0; /* Start with no text visible */
  }
  to {
      width: 12ch; /* Show all 12 characters of "Pragati-2024" */
  }
}

/* Cursor blink animation */
@keyframes blink {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: green;
  }
}
